.p-float-label input:focus ~ label, 
.p-float-label input.p-filled ~ label, 
.p-float-label textarea:focus ~ label, 
.p-float-label textarea.p-filled ~ label, 
.p-float-label .p-inputwrapper-focus ~ label, 
.p-float-label .p-inputwrapper-filled ~ label {
    top: -.15rem;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255 255 255 / 3);
    
}

.pi-check-circle{
    color: #00ab0c;
}
.pi-times-circle {
    color: rgb(224, 42, 17);
}
th, td, .p-dropdown, input{
    text-transform: uppercase;
}