<div class="card">
    <div class="grid mt-2 mb-2">
        <div class="col-12" style="text-align:center">
            <h1> HEALTH FACILITY</h1>
        </div>
    </div>
</div>
<div class="card mt-1">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left" class="flex">
            <button pButton pRipple label="NEW" icon="pi pi-plus-circle" class="p-button-success mr-2"
                (click)="addHealthFacilityPopup()"></button>
            <button pButton pRipple label="REMOVE" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedHealthFacilities || 
            !selectedHealthFacilities.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (keyup)="filter()" [(ngModel)]="searchkey" />
                </span>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="newHealthFacilityList" [rows]="5" [paginator]="true" [globalFilterFields]="['code','name']"
        [(selection)]="selectedHealthFacilities"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 1rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-healthFacility>
            <tr>
                <td>
                    <p-tableCheckbox [value]="healthFacility"></p-tableCheckbox>
                </td>
                <td>{{healthFacility.code}}</td>
                <td>{{healthFacility.name}}</td>
                <td>
                    <i class="pi" style="font-size: 2rem" [ngClass]="{'true-icon pi-check-circle': healthFacility.status, 
                    'false-icon pi-times-circle': ! healthFacility.status}">
                    </i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                        (click)="updateHealthFacilityPopup(healthFacility)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="removeHealthFacility(healthFacility)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>