
<form [formGroup]="provinceForm">
    <p-panel header="PROVINCE DETAIL">  
        <div class="grid mb-1">
            <div class="col-3 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="provinceCode" formControlName="provinceCode" pInputText style="font-weight: bold;" >
                    <label for="provinceCode">Province Code</label>
                </span>
            </div>
            <div class="col-5 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="provinceName" formControlName="provinceName" pInputText style="font-weight: bold;">
                    <label for="provinceName">Province Name</label>
                </span>
            </div>  
            <div class="col-12 lg:col-4 p-fluid" >
                <span class="p-float-label">
                    <p-dropdown [options]="region" optionLabel="regionName" [showClear]="true" appendTo="body"
                        styleClass="dropdown-custom" [autoDisplayFirst]="false" [filter]="true" filterBy="regionName" 
                        formControlName="regionCode" optionValue="regionCode" (onChange)="selectedItem($event)"
                        [ngClass]="{ 'ng-invalid ng-dirty': (this.provinceForm.controls['regionCode'].errors)}">
                    </p-dropdown>
                    <label for="Street">REGION<span style="color: red; font-weight: 1000; ">*</span></label>
                </span>
            </div>
        </div>      
        <div class="grid mb-1 mr-1">
            <div class="col-12 relative">
                <div class="absolute top-0 right-0">
                    <div class="flex justify-content-end flex-wrap card-container">
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" label="CANCEL" class="p-button-secondary" (click)="ngOnDestroy()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForUpdating" label="UPDATE" class="p-button-info" (click)="updateData()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForSaving" label="SAVE" class="p-button-success" (click)="saveData()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>  
</form>
