<p-panel>
    <div class="grid mt-2 mb-2">
        <div class="col-12" style="text-align:center">
            <h1> ZSCORE </h1>
        </div>
    </div>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left" class="flex">
            <button pButton pRipple label="NEW" icon="pi pi-plus-circle" class="p-button-success mr-2" (click)="addPopup()"></button>
            <button pButton pRipple label="REMOVE" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedZScoreList || !selectedZScoreList.length">                
            </button>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (keyup)="filter()" [(ngModel)]="searchkey" />
                </span>
            </div>
        </ng-template>
    </p-toolbar>
    
    <p-table #dt [value]="newZScoreList" [rows]="6" [paginator]="true" [globalFilterFields]="['resultCode','zScoreType']" 
    [(selection)]="selectedZScoreList"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 1rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="resultCode">Result Code<p-sortIcon field="resultCode"></p-sortIcon></th>
                <th pSortableColumn="zScoreType">ZScore Type<p-sortIcon field="zScoreType"></p-sortIcon></th>
                <th pSortableColumn="months">Months<p-sortIcon field="months"></p-sortIcon></th>
                <th pSortableColumn="length">Length<p-sortIcon field="length"></p-sortIcon></th>
                <th pSortableColumn="weight">Weight<p-sortIcon field="weight"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zScore>
            <tr>
                <td>
                    <p-tableCheckbox [value]="zScore"></p-tableCheckbox>
                </td>
                <td>{{zScore.resultCode}}</td>
                <td>{{zScore.zScoreType}}</td>
                <td>{{zScore.months}}</td>
                <td style="text-align: ceter;">{{zScore.length | number:'1.2'}}</td>
                <td style="text-align: center;">{{zScore.weight | number:'1.2'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="updatePopUp(zScore)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="removeItem(zScore)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<p-confirmDialog [style]="{ width: '25%' }"></p-confirmDialog>
<p-dialog header={{headermessage}} [(visible)]="displayResponsive" [breakpoints]="{'100px': '55vw'}" [style]="{width: '400px'}"
[draggable]="false" [resizable]="false">
<p>{{responsemessage}}</p>
    <ng-template pTemplate="footer">
    <p-button (click)="displayResponsive=false" label="OK" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>