<div class="card">
    <div class="grid mt-2 mb-2">
        <div class="col-12" style="text-align:center">
            <h1> RADIOLOGY </h1>
        </div>
    </div>
</div>
<div class="card mt-1">

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left" class="flex">
            <button pButton pRipple label="NEW" icon="pi pi-plus-circle" class="p-button-success mr-2" (click)="addRadiologyPopup()"></button>
            <button pButton pRipple label="REMOVE" icon="pi pi-trash" class="p-button-danger" (click)="batchdeleteRadiology()" [disabled]="!selectedRadiology || !selectedRadiology.length" ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (input)="filter()" [(ngModel)]="searchkey" />
                </span>
            </div>
        </ng-template>
    </p-toolbar>
    
    <p-table #dt [value]="prevRadiology" [rows]="5" [paginator]="true" [globalFilterFields]="['code','description']" 
        [(selection)]="selectedRadiology"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 1rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="price">Price<p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="highestPrice: ">Highest Price<p-sortIcon field="highestPrice"></p-sortIcon></th>
                <th pSortableColumn="lowestPrice: ">Lowest Price<p-sortIcon field="lowestPrice"></p-sortIcon></th>
                <th pSortableColumn="priceReferenceIndex: ">Price Reference Index<p-sortIcon field="priceReferenceIndex"></p-sortIcon></th>
                <th pSortableColumn="diagnosisRemarks: ">Diagnosis Remarks<p-sortIcon field="diagnosisRemarks"></p-sortIcon></th>
                <th pSortableColumn="departmentCode: ">Department Code<p-sortIcon field="departmentCode"></p-sortIcon></th>
                <th pSortableColumn="specializationCode: ">Specialization Code<p-sortIcon field="specializationCode"></p-sortIcon></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-laboratory>
            <tr>
                <td>
                    <p-tableCheckbox [value]="laboratory"></p-tableCheckbox>
                </td>
                <td>{{laboratory.code}}</td>
                <td>{{laboratory.description}}</td>
                <td>{{laboratory.price}}</td>
                <td>{{laboratory.highestPrice}}</td>
                <td>{{laboratory.lowestPrice}}</td>
                <td>{{laboratory.priceReferenceIndex}}</td>
                <td>{{laboratory.diagnosisRemarks}}</td>
                <td>{{laboratory.departmentCode}}</td>
                <td>{{laboratory.specializationCode}}</td>
                <td>
                    <i class="pi" style="font-size: 2rem"  [ngClass]="{'true-icon pi-check-circle': laboratory.status, 'false-icon pi-times-circle': !laboratory.status}"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="updateRadiologyPopUp(laboratory)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="removeRadiologyRecord(laboratory)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>