<div class="card">
    <div class="flex-initial flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
        <label style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 900;">ANCILLARY SECTION</label>
    </div>

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left" class="flex">
            <button pButton pRipple label="NEW" icon="pi pi-plus-circle" class="p-button-success mr-2" (click)="addAncillarySectionPopup()"></button>
            <button pButton pRipple label="REMOVE" icon="pi pi-trash" class="p-button-danger" (click)="batchdeleteAncillarySection()" [disabled]="!selectedAncillarySection || !selectedAncillarySection.length" ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (input)="filter()" [(ngModel)]="searchkey" />
                </span>
            </div>
        </ng-template>
    </p-toolbar>
    
    <p-table #dt [value]="prevAncillarySectionList" [rows]="5" [paginator]="true" [globalFilterFields]="['code','description']" 
        [(selection)]="selectedAncillarySection"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 1rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ancillarysection>
            <tr>
                <td>
                    <p-tableCheckbox [value]="ancillarysection"></p-tableCheckbox>
                </td>
                <td>{{ancillarysection.code}}</td>
                <td>{{ancillarysection.description}}</td>
                <td>
                    <i class="pi" style="font-size: 2rem"  [ngClass]="{'true-icon pi-check-circle': ancillarysection.status, 'false-icon pi-times-circle': !ancillarysection.status}"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="updateAncillarySectionPopUp(ancillarysection)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="removeAncillarySectionRecord(ancillarysection)"></button>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total, there are {{icd10s ? icd10s.length : 0 }} ICD10.
            </div>
        </ng-template> -->
    </p-table>
</div>