<p-panel>
    <div class="grid">
        <div class="col-12" style="text-align:center">
            <h1> USERS </h1>
        </div>
    </div>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left" class="flex">
            <button pButton pRipple label="NEW" icon="pi pi-plus-circle" class="p-button-success mr-2" (click)="addUsersPopup()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (input)="filter()" [(ngModel)]="searchkey" />
                </span>
            </div>
        </ng-template>
    </p-toolbar>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
    <p-table #dt [value]="prevUsersList" [rows]="5" [paginator]="true" [globalFilterFields]="['fullName','userName']" 
        [(selection)]="selectedUsers" [(contextMenuSelection)]="selectedUsers" [contextMenu]="cm" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="userName">User Name<p-sortIcon field="userName"></p-sortIcon></th>
                <th pSortableColumn="fullName">FullName <p-sortIcon field="fullName"></p-sortIcon></th>
                <th pSortableColumn="position">Position<p-sortIcon field="position"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr [pContextMenuRow]="users">
                <td>{{users.userName}}</td>
                <td>{{users.fullName}}</td>
                <td>{{users.position}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="updateUsersPopUp(users)" pTooltip="Edit/View User Detail"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="removeUsersRecord(users)" pTooltip="Deactivate User"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<p-confirmDialog [style]="{ width: '50%' }"></p-confirmDialog>