<form [formGroup]="sectionForm">
    <div class="card p-fluid">
        <div class="grid mb-0 mt-1">
            <div class="col-6">
                <h1>SECTION DETAIL</h1>
            </div>
            
        </div>
    
        <div class="grid mb-1">
            <div class="col-4 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="code" formControlName="code" pInputText style="font-weight: bold;" >
                    <label for="code">Code</label>
                </span>
            </div>
            <div class="col-4 p-fluid" style="align-self: center;" *ngIf="isForUpdating">
                <i class="pi pi-check-circle" style="font-size: 2rem" pTooltip="Active Record" *ngIf="isActiveStatus"></i>
                <i class="pi pi-times-circle" style="font-size: 2rem" pTooltip="Inactive Record"  *ngIf="!isActiveStatus"></i>
            </div>
        </div>
        
        <div class="grid mb-1">
            <div class="col-12 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="description" formControlName="description" pInputText style="font-weight: bold;">
                    <label for="description">Description</label>
                </span>
            </div>
        </div>
                
        <div class="grid mb-1 mr-1">
            <div class="col-12 relative">
                <div class="absolute top-0 right-0">
                    <div class="flex justify-content-end flex-wrap card-container">
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" label="CANCEL" class="p-button-secondary" (click)="ngOnDestroy()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForSaving" label="SAVE" class="p-button-success" (click)="saveData()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
