
<form [formGroup]="referralcategorydetailForm">
    <p-panel header="REFERRAL CATEGORY DETAIL">     
        <div class="grid mb-1">
            <div class="col-5 p-fluid">
                <span class="p-float-label">
                    <p-dropdown inputId="referralCategoryId" optionLabel="description" [options]="referralcategoryList" [itemSize]="3" [virtualScroll]="true"
	                [showClear]="true" (onChange)="selectedItem($event)"></p-dropdown> 
                    <label for="referralCategoryId">Referral Category</label>
                </span>
            </div>
        </div> 
        <div class="grid mb-1">
            <div class="col-6 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="referralCategoryDescription" formControlName="referralCategoryDescription" pInputText style="font-weight: bold;">
                    <label for="referralCategoryDescription">Referral Category Description</label>
                </span>
            </div>
            <div class="col-6 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="condition" formControlName="condition" pInputText style="font-weight: bold;">
                    <label for="condition">Condition</label>
                </span>
            </div>
        </div>  
        <div class="grid mb-1">
            <div class="col-6 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="indications" formControlName="indications" pInputText style="font-weight: bold;">
                    <label for="indications">Indications</label>
                </span>
            </div>
            <div class="col-6 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="category" formControlName="category" pInputText style="font-weight: bold;">
                    <label for="category">Category</label>
                </span>
            </div>
        </div>      
       
        <div class="grid mb-1 mr-1">
            <div class="col-12 relative">
                <div class="absolute top-0 right-0">
                    <div class="flex justify-content-end flex-wrap card-container">
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" label="CANCEL" class="p-button-secondary" (click)="ngOnDestroy()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForUpdating" label="UPDATE" class="p-button-info" (click)="updateData()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForSaving" label="SAVE" class="p-button-success" (click)="saveData()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>  
</form>
