
<form [formGroup]="discountsForm">
    <div class="shadow-2">
    <p-panel header="DISCOUNTS DETAIL">              
        <div class="grid mb-1">
            <div class="col-5 p-fluid">
                <span class="p-float-label">
                    <p-dropdown inputId="patientTypeId" optionLabel="description" [options]="patienttypeList" [itemSize]="3" [virtualScroll]="true"
	                [showClear]="true" (onChange)="selectedItem($event)"></p-dropdown> 
                    <label for="patientTypeId">Patient Type</label>
                </span>
            </div>
        </div>      
        <div class="grid mb-1">
            <div class="col-7 p-fluid">
                <span class="p-float-label">
                    <input type="text" id="patientTypeDescription" formControlName="patientTypeDescription" pInputText style="font-weight: bold;" maxlength="100">
                    <label for="patientTypeDescription">Description</label>
                </span>
            </div>
        </div> 
        <div class="grid mb-1">
            <div class="col-4 p-fluid">
                <span class="p-float-label">
                    <input
                    type="text"
                    id="discountschemaPharmacy"
                    formControlName="discountSchemaPharmacy"
                    pInputText
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    />
                    <label for="discountSchemaPharmacy">Pharmacy Discount</label>
                </span>
            </div>
            <div class="col-4 p-fluid">
                <span class="p-float-label">
                    <input
                    type="text"
                    id="discountschemaLaboratory"
                    formControlName="discountSchemaLaboratory"
                    pInputText
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    />
                    <label for="discountSchemaLaboratory">Laboratory Discount</label>
                </span>
            </div>
            <div class="col-4 p-fluid">
                <span class="p-float-label">
                    <input
                    type="text"
                    id="discountschemaRadiology"
                    formControlName="discountSchemaRadiology"
                    pInputText
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    />
                    <label for="discountSchemaRadiology">Radiology Discount</label>
                </span>
            </div>
        </div>
       
        <div class="grid mb-1 mr-1">
            <div class="col-12 relative">
                <div class="absolute top-0 right-0">
                    <div class="flex justify-content-end flex-wrap card-container">
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" label="CANCEL" class="p-button-secondary" (click)="ngOnDestroy()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForUpdating" label="UPDATE" class="p-button-info" (click)="updateData()"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center mr-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="isForSaving" label="SAVE" class="p-button-success" (click)="saveData()" [disabled]="disableButton"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>  
    </div>
</form>
