

<div class="card h-1240rem mt-0">
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-2">
            <div>
                <div class="flex-initial flex align-items-center justify-content-center bg-cyan-400 font-bold text-white m-2 px-5 py-3 border-round">
                    <label>MASTERFILE</label>
                </div>
                
                <p-listbox [options]="masterfiles" [(ngModel)]="selectedMasterfile" [metaKeySelection]="false" (click)="selectedMastefiles(selectedMasterfile)"
                        [filter]="true" optionLabel="name" [listStyle]="{'max-height':'750px'}" [style]="{'width':'20rem'}">
                <ng-template let-masterfile pTemplate="item">
                <div class="masterfile-item">
                    <div>
                       
                        <a class="p-link">
                            <span>{{masterfile.name}}</span>
                        </a>
                    </div>
                </div>
                </ng-template>
                </p-listbox>
            </div>
        </div>

        <div class="col-12 md:col-8 lg:col-10" style="background-color: rgb(229, 243, 241);">
            <router-outlet>
            </router-outlet>
            <p-toast [style]="{'white-space': 'pre-line'}"></p-toast>
        </div>

    </div>

</div>